<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="DuyDoan_HotelBooking::hotelbooking"
                title="Hotel Booking"
                module="DuyDoan_HotelBooking"
                sortOrder="50"
                resource="DuyDoan_HotelBooking::hotelbooking"
        />

        <add
                id="DuyDoan_HotelBooking::hotels"
                title="Hotels"
                module="DuyDoan_HotelBooking"
                sortOrder="20"
                resource="DuyDoan_HotelBooking::hotelbooking"
                action="hotelbooking/hotels"
                parent="DuyDoan_HotelBooking::hotelbooking"
        />
    </menu>
</config>
